replicaCount: 2

image:
  repository: itamarchn/my-python-app
  tag: latest
  pullPolicy: IfNotPresent

containerPort: 8080

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  host: statis-app.local
  path: /my-app
